/* Estilo base com a fonte Inter */
body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar customizada */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1f2937;
}

::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
}

/* Animação para o Toast */
.toast-enter {
    opacity: 0;
    transform: translateY(20px);
}

.toast-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.toast-exit {
    opacity: 1;
    transform: translateY(0);
}

.toast-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
}
